<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>uber ride prediction model</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <h1>uber weekly ride </h1>
    <form action="{{url_for('predict')}}" method="post">
      <input type="text" name="Priceperweek" placeholder="Priceperweek" required="required">
      <input type="text" name="popu" placeholder="popu" required="required">
      <input type="text" name="income" placeholder="income" required="required">
      <input type="text" name="avgparking" placeholder="avgparking" required="required">
      <button type="submit" class="btn btn_btn-block btn-large">predict</button>
    </form>

    <br><br>
    {{ prediction_text}}

  </body>
</html>
